set clipboard+=unnamed
set clipboard+=ideaput

nnoremap \e :e ~/.ideavimrc<CR>
nnoremap \r :action IdeaVim.ReloadVimRc.reload<CR>

map <C-c> <Esc>

imap jj <Esc>
set timeoutlen=1000

" disable sound
set visualbell

" Copy to system clipboard as well
set clipboard+=unnamed

set NERDTree

set ideajoin
